@charset "UTF-8";

        body {
            background-color: rgba(238, 243, 161, 0.616);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(146, 146, 63);
        }
        h2 {
            color: rgb(25, 10, 235);
        }
        p {
            text-align: justify;
            font-style: italic;
        }